/* common and reset code start here */
*{
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    margin: 0;
    padding: 0;
}

:root{
    --padding: 1rem;
    --text-white: white;
    --text-black: black;
    --box-shadow: .3rem .3rem .5rem,
    -.3rem 0rem .5rem;  
}

html{
    scroll-behavior: smooth;
    font-family: "Roboto";
    font-size: 75.5%; 
     
}

body{
    background-color: rgb(197, 221, 224);
    min-width: 100%;
}

.text-justify{
    text-align: justify;
}
/* common and reset code end here */

/* nav section start here */
#nav-section{
    background-color: white;
    box-shadow: .4rem .4rem .4rem #a49f9f,
    -.4rem .0rem .4rem #a49f9f;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.main-logo{
    font-size: 3rem;
    color: rgb(12, 164, 184);
}

.nav-target{
    font-size: 2.3rem;
    color: rgb(12, 164, 184);
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: all .3s linear;
    display: none;
}

.nav-target:hover{
    color: grey;
    transform: rotate(90deg);
}

.nav__link{
    color: grey;
    font-size: 1.6rem;
    margin: .6rem;
    text-transform: uppercase;
}

.nav__link:hover{
    padding-left: 1.5rem;
    color: rgb(12, 164, 184);
}

.nav__icon{
    color: grey;
    font-size: 1.6rem;
    margin: .6rem;
}

.nav__icon:hover{
    padding-left: 1.5rem;
    color: rgb(12, 164, 184);
}

.nav-ul{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.nav-links,.nav-icons{
    display: flex;
}

.nav-center{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* nav section end here */


/* responsive start here */
@media screen and (max-width:992px){
    
}

@media (max-width:768px){
    .nav-target{
        display: block;
        margin-left: 80vw;
    }

    .nav-ul{
    height: 0;
    overflow: hidden;
    gap: 10vw;
   }
   
   .show-ul{
    height: auto;
   }

   .nav-center,.nav-links,.nav-icons{
       flex-direction: column;
   }
}

@media screen and (max-width:660px){
    
}
/* responsive end here */